---
import { Icon } from "astro-icon";

const {} = Astro.props;

const items = [
  [
    {
      question: "Est-ce qu’on demande les renseignements des parents, grands-parents (acte de naissance, ect)?",
      answer: `Non, nous ne demandons pas. Cependant, pour plus de précision sur les parents, nous demandons le
nom de la mère des deux parents uniquement. Cela, nous sert à enregistrer les parents du
demandeur par la même occasion.`,
    },
    {
      question: "Dans combien temps puis-je recuperer ma nouvelle carte d’identite ?",
      answer: `Vous pouvez récupérer votre nouvelle carte d’identité deux semaines après l’avoir déposer.`,
    },
    {
      question: "Est-ce vrai que nos parents doivent avoir la nouvelle carte avant de pouvoir la prendre ?",
      answer: `Dans le nouveau système biométrique, le demandeur ainsi que ses parents sont des entités à part
entières. Il est ensuite établi la filiation entre ces entités.`,
    },
  ],
  [
    {
      question: "Pourquoi dois-je payé 500 fdj ?",
      answer: `C’est pour les frais de timbres et pour l’attribution de l’acte naissance.`,
    },
    {
      question: "Si mon père/ ma mère est mort(e) que faire ?",
      answer: `Pour un parent décédé, il n’est pas nécessaire de fournir les pièces justificatives.`,
    },
    {
      question: "J'ai perdu ma carte, que faire ?",
      answer: `Pour les personnes qui ont perdu la carte d’identité numérique, vous devez
fournir : (une attention de perte, deux photos, 500 fdj )`,
    },
  ],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2 class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
        Questions fréquemment posées
      </h2>
    </div>
  </div>
  <div class="max-w-screen-xl sm:mx-auto">
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
      {
        items.map((subitems) => (
          <div class="space-y-8">
            {subitems.map(({ question, answer }) => (
              <div>
                <p class="mb-4 text-xl font-bold">
                  <Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block icon-bold" />
                  {question}
                </p>
                {answer.split("\n\n").map((paragraph) => (
                  <p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
                ))}
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</div>
