---
import { Icon } from "astro-icon";

const {} = Astro.props;
---

<section id="renouvellement">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
    <div class="py-12 md:py-20">
      <div class="py-4 sm:py-6 lg:py-8">
        <div class="flex flex-wrap md:-mx-8">
          <div class="w-full lg:w-1/2 px-0 sm:px-8">
            <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
              <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
                Renouvellement, d'une ancienne carte d'identité
              </h2>

              <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
                Informations ou pièces, à fournir si vous voulez obtenir la nouvelle carte d'identité et que vous possédez déjà une ancienne carte d'identité 
              </p>

              <div class="w-full">
                <a
                  class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0 font-bold"
                  href="https://github.com/onwidget/astrowind"
                  target="_blank"
                  rel="noopener"
                >
                  <Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5 hidden sm:inline-block" /> Prendre rendez-vous
                </a>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/2 px-0 sm:px-8">
            <ul class="space-y-12">
              <li class="flex md:-mx-4">
                <div class="pr-4 sm:pl-4">
                  <span
                    class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
                  >
                    1
                  </span>
                </div>
                <div class="px-4">
                  <h3 class="mb-4 text-xl font-semibold font-heading">Pour une personne possédant la carte d'identité numérique</h3>
                  <p class="text-gray-500 dark:text-gray-400">
                    <ul>
                      <li>- La carte d'identité numérique original</li>
                      <li>- 2 photos</li>
                      <li>- Frais : 500FDJ NNI</li>
                    </ul>
                  </p>
                </div>
              </li>
              <li class="flex md:-mx-4">
                <div class="pr-4 sm:pl-4">
                  <span
                    class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
                  >
                    2
                  </span>
                </div>
                <div class="px-4">
                  <h3 class="mb-4 text-xl font-semibold font-heading">Pour une personne possédant la carte d'identité jaune</h3>
                  <p class="text-gray-500 dark:text-gray-400">
                    <ul>
                      <li>- La carte d'identité jaune original</li>
                      <li>2 photos</li>
                      <li>Frais : 2000FDJ carte d'identité et 500FDJ NNI</li>
                    </ul>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
