---
import logo from '../../assets/images/logo.svg';
---

<!-- <span class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
  🚀 AstroWind
</span> -->
<span>
  <img src={logo} alt="Djibouti, semaine nationale de l'identité"/>
</span>